/* Setup Snippet */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  line-height: 30px;
  letter-spacing: 0.2px;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: 'Offside', cursive;
  font-size: 4.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  width: 80%;
}

/* Section: Header Styles */
.section-header {
  height: 90vh;
  padding: 20px 0;
  background-image: url(img/header-image.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}


.sitename-container {
  width: 50%;
  float: left;  
}

.sitename {
  font-family: 'Offside', cursive;
  font-size: 20px;
  line-height: 20px; 
  width: 100px;
}

.navigation {
  width: 50%;
  float: right;
  text-align: right;
}

.section-header li {
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  line-height: 29px;
  display: inline-block;
  padding-left: 25px;
}

.section-header li a {
  color: #fff;
}

.hero-container {
  clear: both;
  width: 100%;
  padding-top: 50px; 
}

.hero-text-container {
  width: 50%;
  float: left;
}

.hero-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 6.88rem;
  line-height: 63.7px;
  letter-spacing: 0.8px;
  text-align: left;
  width: 550px;
}

.social-container {
  width: 50%;
  float: right;
  text-align: right;
  position: relative;
}

.social-container ul {
  position: absolute;
  top: 20px;
  right: -140px;
}

.social-container li {
  display: block;
  padding: 5px;
}

.social-container li i {
  font-size: 2.5rem;
}

.social-container .fa-facebook-f {
  padding: 2px;
}

/* Section: New Friends Styles */
.section-newfriends {
  background-color: #D6F1E4;
  padding: 100px 0;
}

.section-newfriends ul {
  background-color: #ff0;
}

.newfriends-title {
  font-family: 'Offside', sans-serif;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  color: #116500;
}

.newfriends-gallery {
  margin: 100px 0;
}

.gallery-img-container {
  width: calc((100% - 80px) / 3);
  float: left;
  margin-right: 40px;
}

.gallery-img-container:nth-of-type(3n) {
  margin-right: 0;
}

.gallery-img-container img {
  width: 100%;
  height: auto;
}

.more-info {
  margin-top: 100px;
}

.more-info-img-container {
  width: 25%;
  float: left;
}

.more-info-text-container {
  width: 75%;
  float: left;
  padding-left: 20px;
}

.more-info-text-container h2 {
  color: #116500;
}

.more-info-text-container p {
  padding: 27px 0;
}

.more-info button {
  font-family: 'Offside', cursive;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 29px;
  padding: 10px 20px;
  background-color: #116500;
  border: 1px solid #116500;
}

.more-info button a {
  color: #fff;
}

/* Section: Our Pandas */
