/* Setup Snippet */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  line-height: 30px;
  letter-spacing: 0.2px;
  position: absolute;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Offside', cursive;
  font-size: 4.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Offside', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}

li {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 29px;
}

li a {
  color: #fff;
}

.wrapper {
  max-width: 1500px;
  margin: auto;
  width: 80%;
}

/* Section: Header Styles */
.section-header {
  height: 90vh;
  padding: 20px 0;
  background-image: url(img/header-image.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}


.sitename-container {
  width: 50%;
  float: left;  
}

.sitename {
  font-family: 'Offside', cursive;
  font-size: 2rem;
  line-height: 20px; 
  width: 100px;
}

.navigation {
  width: 50%;
  float: right;
  text-align: right;
}

.mobile-navigation {
  display: none;
}

.section-header li {
  text-align: right;
  display: inline-block;
  padding-left: 25px;
}

.hero-container {
  clear: both;
  width: 100%;
  padding-top: 50px; 
}

.hero-text-container {
  width: 50%;
  float: left;
}

.hero-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 6.88rem;
  line-height: 63.7px;
  letter-spacing: 0.8px;
  text-align: left;
  width: 550px;
}

.social-container {
  width: 50%;
  float: right;
  text-align: right;
  position: relative;
}

.social-container ul {
  position: absolute;
  top: 20px;
  right: -140px;
}

.social-container li {
  display: block;
  padding: 5px;
}

.social-container li i {
  font-size: 2.5rem;
}

.social-container .fa-facebook-f {
  padding: 2px;
}

/* Section: New Friends Styles */
.section-newfriends {
  background-color: #D6F1E4;
  padding: 100px 0;
}

.section-newfriends ul {
  background-color: #ff0;
}

.newfriends-title {
  font-family: 'Offside', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #116500;
}

.newfriends-gallery {
  margin: 100px 0;
}

.gallery-img-container {
  width: calc((100% - 80px) / 3);
  float: left;
  margin-right: 40px;
}

.gallery-img-container:nth-of-type(3n) {
  margin-right: 0;
}

.gallery-img-container img {
  width: 100%;
  height: auto;
}

.more-info {
  margin-top: 100px;
}

.more-info-img-container {
  width: 25%;
  float: left;
}

.more-info-text-container {
  width: 75%;
  float: right;
  padding-left: 20px;
}

.more-info-text-container h2 {
  color: #116500;
}

.more-info-text-container p {
  padding: 27px 0;
}

.more-info button {
  font-family: 'Offside', cursive;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 29px;
  padding: 10px 20px;
  background-color: #116500;
  border: 1px solid #116500;
  text-transform: capitalize;
}

.more-info button a {
  color: #fff;
}

/* Section: Our Pandas */
.our-pandas {
  background-color: #213C28;
  margin: 0;
}
.our-panda-containers {
  width: 50%;
  float: left;
  color: #fff;
}

.our-panda-containers img {
  width: 100%;
  display: block;
}

.panda-info-group {
  margin-top: 20%;
}

.panda-info-group p {
  margin: 30px 0 30px;
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
}

.panda-info-group a {
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 0;
  border: 0;
  color: #116500;
}

.text-wrapper-left {
  width: 70%;
  margin: 0 10% 0 20%;
}

.text-wrapper-right {
  width: 70%;
  margin: 0 20% 0 10%;
}

.ordering-fix {
  display: none;
}

/* Section: Additional Info */
.additional-info {
  width: 100%;
}

.additional-info {
  background-color: #D6F1E4;
  padding: 100px 0;
}

.additional-info-container {
  display: inline-block;
  width: 33%;
  margin: 0;
  text-align: center;
}

.additional-info-container i {
  font-size: 42px;
  margin-bottom: 20px; 
  color: #213C28;
}

.additional-info-container h3 {
  color: #116500;
}

/* Section: Contact */
.section-contact {
  padding: 100px 0;
  color: #fff;
  background-color: #213C28;
}

.form-container,
.contact-container,
.contact-group {
  width: 50%;
  float: left;
}

.contact-group {
  margin-left: 12.5%;
}

.bottom-nav {
  float: right;
}

.bottom-nav li {
  font-weight: 400;
  text-align: right;
  font-size: 2.5rem;
  padding-bottom: 5px;
}

.section-contact label {
  display: block;
}

.section-contact input,
.section-contact button {
  display: inline-block;
}

.section-contact input {
  width: 60%;
  padding: 10px 20px;
  border-radius: 0;
}

.section-contact button {
  background-color: #2C2D2C;
  color: #fff;
  padding: 10px 20px;
  border: 0;
}

.section-contact h4 {
  font-size: 3rem;
  font-weight: 400;
}

.section-contact label {
  padding: 3px 0;
}

/* Portrait tablet and small desktops */
@media (max-width: 1600px) {
  /* Universal Styles */
  .wrapper {
    width: 90%;
  }

  /* Section: New Friends */
  .more-info-text-container {
    width: 65%;
    float: right
  }

  .more-info-text-container {
    padding-left: 40px;
  }

  .more-info-text-container p {
    font-size: 1.5rem;
    line-height: 25px;
  }

  /* Section: Our Pandas */
  .our-panda-containers h2 {
    font-size: 3rem;
  }

  .our-panda-containers p {
    font-size: 1.5rem;
  }

  .panda-info-group {
    margin-top: 15%;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 1150px) {
  /* Universal Styles */
  img {
    width: auto ;
    max-width: 100%;
    height: auto ;
  }
  /* Section: Our Pandas */
  .our-panda-containers h2 {
    font-size: 1.9rem;
  }

  .our-panda-containers p {
    margin: 10px 0 15px 0;
    line-height: 18px;
    font-size: 1.7rem;
  }

  .panda-info-group {
    margin-top: 7%;
  }

  /* Section: Additional Info */
  .additional-info-container {
    width: 30%;
    margin: 0 1%;
  }
  .additional-info h3{
    font-size: 3rem;
  }
}


/* Landscape phone to portrait tablet */
@media (max-width: 870px) {
  /* Universal Styles */
  .wrapper {
    width: 90%;
  }

  html {
    font-size: 10px;
  }

  /* Section: Header */
  .section-header {
    height: 50vh;
  }

  .navigation ul li {
    display: none;
  }

  .navigation button {
    display: inline-block;
    background: transparent;
    border: none;
  }

  .navigation i {
    width: 100%;
    color: #fff;
    font-size: 3rem;
  }

  .hero-text {
    font-size: 3.9rem;
    width: 130px;
    line-height: 25px;
  }

  /* Section: New Friends */
  .section-newfriends {
    padding: 50px 0;
  }

  .newfriends-gallery .gallery-img-container:first-of-type,
  .newfriends-gallery .gallery-img-container:nth-of-type(2) {
    width: 48%;
    margin: 0;
    float: left;
  }

  .newfriends-gallery .gallery-img-container:first-of-type {
    margin-right: 2%;
  }

  .newfriends-gallery .gallery-img-container:nth-of-type(2) {
    margin-left: 2%;
  }

  .newfriends-gallery .gallery-img-container:last-of-type {
    padding-top: 50px;
    width: 100%;
  }

  .newfriends-gallery {
    margin: 40px 0 20px 0;
  }

  .more-info {
    margin-top: 20px;
  }

  
  .more-info-img-container {
    display: none;
  }
  
  .more-info-text-container {
    width: 100%;
    padding: 0;
  }

  .more-info-text-container p {
    padding: 10px 0;
  }
  
  .more-info-text-container button {
    margin: 15px auto 25px;
    display: block;
    padding: 20px 30px;
  }

  .our-panda-containers {
    width: 100%;
  }

  .panda-info-group {
    margin-top: 0;
    padding: 40px 0;
  }

  .panda-info-group h2 {
    font-size: 3rem;
    text-align: center;
  }

  .panda-info-group a {
    display: inline-block;
    margin: 0 auto;
  }
  
  .text-wrapper-left,
  .text-wrapper-right {
    width: 90%;
    margin: 0 auto;
  }

  .ordering-fix {
    display: block;
  }

  .our-panda-containers:nth-of-type(3) {
    display: none;
  }

  .our-panda-containers .link-container {
    text-align: center
  }

  /* Section: Additional Info */
  .additional-info h3 {
    font-size: 3rem;
  }
  .additional-info {
    padding: 25px 0;
  }
  .additional-info-container {
    width: 100%;
    padding: 25px 0;
  }

  /* Section: Contact */
  .form-container,
  .contact-container {
    width: 100%;
  }

  .section-contact {
    padding: 25px 0;
    font-weight: 700;
  }

  .contact-group {
    width: 70%;
    margin: 0;
  }

  .contact-group p {
    display: block;
    margin: 0;
    padding: 0;
  }

  .bottom-nav {
    width: 30%;
  }

  .form-container {
    text-align: center;
  }

  .section-contact input {
    width: 100%;
  }

  .section-contact button {
    display: block;
    margin: 15px auto 15px;
  }
}

/* Landscape phones and down */
@media screen and (max-width: 480px) {
  /* Universal Styles */
  html {
    font-size: 7px;
  }

  /* Section: New Friends */
  .panda-info-group h2 {
    text-align: center;
  }
}